body{
    background-color:grey;
    display: flex;place-content: center;
}

span{
    color: whitesmoke;
    font-size: x-large;
    /* margin: 50px; */
    margin-top: 0px;
    place-items: center;
    padding-left: 120px;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;    
}

.counter{
    color: white;
    font-size: 80px;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
i{
    color: white;
}

#c3{
    margin-left: 140px;
}